* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: radial-gradient(circle at top, #2b2b2b, #181818);
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 0;
}

.fade {
    animation: fadeIn 0.6s ease both;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to   { opacity: 1; transform: translateY(0); }
}

h1 {
    text-align: center;
    font-size: 2.6rem;
    letter-spacing: 1px;
    margin-bottom: 25px;
    color: #f2f2f2;
    font-weight: 700;
}

.form-container {
    width: 780px;
    padding: 35px 45px;
    border-radius: 22px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow: 0 0 25px rgba(0,0,0,0.35);

    animation: fadeIn 0.6s ease;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px 30px;
}

label {
    font-size: 1rem;
    font-weight: 600;
    color: #dcdcdc;
    margin-bottom: 6px;
    display: block;
}

input, select {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;

    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    font-size: 1rem;

    transition: 0.25s;
}

input::placeholder {
    color: #e4e4e4a0;
}

input:focus, select:focus {
    background: rgba(255,255,255,0.22);
    box-shadow: 0 0 0 2px #4e8cff90;
}

.btn {
    grid-column: span 2;
    padding: 14px 0;
    text-align: center;

    border-radius: 12px;
    background: linear-gradient(135deg, #4e8cff, #2562ff);
    color: white;

    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    text-decoration: none;

    transition: 0.25s;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 20px #2562ff55;
}

.btn-secondary {
    background: rgba(180,180,180,0.15);
}

.btn-secondary:hover {
    background: rgba(180,180,180,0.25);
    box-shadow: 0 4px 20px rgba(255,255,255,0.12);
}

.task-list {
    width: 950px;
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 22px;
}

.task-card {
    padding: 20px;
    background: rgba(255,255,255,0.07);
    border-radius: 18px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.12);
    transition: 0.25s;
}

.task-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 15px rgba(0,0,0,0.35);
}

.urgente {
    color: #ff5d5d;
    font-weight: 700;
}

.sem-tarefas {
    margin-top: 40px;
    font-size: 1.4rem;
    opacity: .75;
    text-align: center;
}

select {
    background: rgba(255, 255, 255, 0.18);
}

select option {
    background: #2c2c2c;
    color: white;
    padding: 12px;
}

select option:hover {
    background: #4e8cff;
    color: white;
}

select option:checked {
    background: #3a3a3a;
    color: #ffffff;
}